.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgb(209, 24, 24);

}


@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        padding: 10px;
    }

    .submit-btn {
        font-size: 14px;
    }
}